/* 
2c333d
e1c799
a39d8c
8a5a3d
5a2a20
*/
html, body { height: 100%}

body {
  background-color: #ffffff;
  font-family: arial;
}

#wrapper {
	height: 750px;
}

#banner {
  background: url('../images/vs-mosaic.jpg') gray 0 repeat-x;
  border-bottom: 4px solid #254176;
  height: 150px;
  padding: 0 15px;
}

#banner span.title {
  color: #333;
  position: relative;
  top:40px;
  left: 100px;
  font-family: 'Bangers', serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  text-shadow: 6px 6px 6px #888;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0.010em;
  word-spacing: 0.101em;
  line-height: 1.13;
}

.border {
  background: url('../images/banner-border.png') white 0 repeat-x;
  background-position: top;
  height:15px;
}

#content {
  position: relative;
  padding: 20px;
}

#gallery, div.orbit-wrapper {
  width: 650px !important;
  height: 400px !important;
  margin: 0 auto;
}

#left {
  position: absolute;
  width: 350px;
  z-index: 1000;
  margin-left: -370px;
  font-family: "Arial";
}

.field {
  margin: 20px 5px;
}

input {
  height: 30px;
  width: 250px;
  font-family: "bangers";
  font-size: 1.2em;
}

#right {
/*  border: 2.5px solid #A5A5A5;*/
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  padding: 10px;
  width: 300px;
}

#right p {
  font-family: "Bangers";
  margin-bottom: 10px;
}

#right label {
  font-family: "bangers";
  letter-spacing: 0.10em;
  word-spacing: 0.101em;
  line-height: 1.13;  
}

button {
  margin-left: 5px;
  width: 250px;
  height: 35px;
}

select {
  width: 250px;
  min-width: 250px;
  z-index: 100;
}

blockquote p {
  font-size: 1.1em;
  margin-bottom: 8px;
}

p {
  font-size: 1.3em;
}

blockquote {
display: block;
width: 250px;
padding: 0 70px;
}

blockquote:before, blockquote:after {
  color: #383838;
  display: block;
  font-size: 700%;
  width: 80px;
}

blockquote:before {
  content: '\201C';
  height: 15px;
  margin-left: -0.5em;
}
blockquote:after {
  content: '\201D';
  height: 75px;
  margin-top: -50px;
  margin-left: 220px;
}

#right {
  position: absolute;
  width: 300px;
  margin-left: 670px;
  z-index: 1000;
}

.container {
  width: 650px;
  margin: 0 auto;
}

.push { height: 102px;}

#footer {
  background-color: #383838;
/*  border-top: 4px solid #CCCCCC;*/
  padding: 15px;
  height: 40px;
  text-align: center;
  font-size: 0.8em;
  color: #F5F5F5;
}

#footer p {
  font-size: 0.95em;
  margin-top: 20px;
}

#footer li a {
  color: #F5F5F5;
  font-family: arial;
  font-size: 1.1em;  
}

#footer li a:hover {
  text-decoration: underline;
}

#footer li {
  padding: 0 25px;
  margin: 0 0px;
  border-right: 1px solid #F5F5F5;
}

#footer li:last-child {
  border-right: none;
}

#description {

}

#banner-menu {
  padding: 10px 0;
  height: 40px;
  background-color:#012052;
  text-align: center;
}

#banner-menu li a {
  color: #fff;
  font-size: 1.2em;
  line-height: 40px;
  font-weight: 700;
}

#banner-menu li {
  padding: 10px 40px;
}

#banner-menu ul li.active {
  background-color: #153166;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
/*  border-bottom: 4px solid #AAA;*/
}

ul li {
  display:inline;
  list-style: none;
  margin: 0 30px;
}

ul li a {
  text-decoration: none;
  color:black;
}