/* 
2c333d
e1c799
a39d8c
8a5a3d
5a2a20
*/
body {
  background-color: #ffffff;
  font-family: arial;
}

#wrapper {
  width: 100%;
  height: 100%;
}

#banner {
  background: url('../images/vs-mosaic.jpg') gray 0 repeat-x;
  border-bottom: 4px solid #254176;
  height: 150px;
  padding: 0 15px;
}

#banner span.title {
  color: #333;
  position: relative;
  top:40px;
  left: 100px;
  font-family: 'Bangers', serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  text-shadow: 6px 6px 6px #888;
  text-decoration: none;
  text-transform: none;
  letter-spacing: 0.010em;
  word-spacing: 0.101em;
  line-height: 1.13;
}

#border {
  background: url('../images/banner-border.png') white 0 repeat-x;
  background-position: top;
  height:15px;
}

#content {
  min-height: 600px;
}

#footer {
  background-color: #484848;
/*  border-top: 4px solid #CCCCCC;*/
  padding: 15px;
  height: 70px;
  text-align: center;
  font-size: 0.8em;
}

#footer li a {
  color: #F5F5F5;
  font-family: arial;
  font-size: 1.1em;  
}

#footer li a:hover {
  text-decoration: underline;
}

#description {
  float: left;
  width: 25%;
  font-family: "Yanone Kaffeesatz", "Bevan";
  font-size: 1.4em;
}

#banner-menu {
  padding: 10px 0;
  height: 40px;
  background-color:#012052;
  text-align: center;
}

#banner-menu li a {
  color: #fff;
  font-size: 1.2em;
  line-height: 40px;
  font-weight: 700;
}

#banner-menu li {
  padding: 10px 40px;
}

#banner-menu ul li.active {
  background-color: #153166;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
/*  border-bottom: 4px solid #AAA;*/
}

ul li {
  display:inline;
  list-style: none;
  margin: 0 30px;
}

ul li a {
  text-decoration: none;
  color:black;
}